VITE_GEMINI_API_KEY=
GEMINI_API_KEY=
VITE_BACKEND_URL=
APP_URL=
ADMIN_EMAIL=
PORT=3000
MONGODB_URI=
EMAIL_USER=
EMAIL_PASS=
GOOGLE_CLIENT_ID=
VITE_API_BASE_URL=/api
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
